#root, main {
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
}


.editor-container {
  width: 30%;
  height: 100%;
  resize: horizontal;
  overflow: auto;
}

.screen-container {
  width: 70%;
  height: 100%;
  resize: horizontal;
  overflow: auto;
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
    width: 100vw;
  }

  .editor-container, .screen-container {
    width: 100%;
  }
}
